<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${msg}"></p>
<div th:text="${msg}"></div>
<span th:text="${msg}"></span>
<br/>
<p>
    <span th:text="${user.nick}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${user.phone}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${user.email}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${user.address}"></span>&nbsp;&nbsp;&nbsp;
</p>
<br/>
<p th:object="${user}">
    <span th:text="*{nick}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="*{phone}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="*{email}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="*{address}"></span>&nbsp;&nbsp;&nbsp;
</p>
<br/>
<div>
    <span>nick: <span th:text="*{user.nick}"></span></span>&nbsp;&nbsp;&nbsp;
    <span>phone: <span th:text="*{user.phone}"></span></span>&nbsp;&nbsp;&nbsp;
    <span>email: <span th:text="*{user.email}"></span></span>&nbsp;&nbsp;&nbsp;
    <span>address: <span th:text="*{user.address}"></span></span>&nbsp;&nbsp;&nbsp;
</div>


<a href="http://localhost:8080/boot/user/info?id=100">查看</a>&nbsp;&nbsp;&nbsp;
<a href="info.html" th:href="@{'user/info?id='+${user.id}}">查看</a>&nbsp;&nbsp;&nbsp;
<a href="info.html" th:href="@{'http://localhost:8080/boot/user/info?id='+${user.id}+'phone='+${user.phone}}">查看</a>&nbsp;&nbsp;&nbsp;
<a href="info.html" th:href="@{|user/info?id=${user.id}&phone=${user.phone}|}">查看</a>&nbsp;&nbsp;&nbsp;
<a href="info.html" th:href="@{|/user/info?id=${user.id}&phone=${user.phone}|}">查看</a>&nbsp;&nbsp;&nbsp;
<a href="info.html" th:href="@{|http://localhost:8080/boot/user/info?id=${user.id}&phone=${user.phone}|}">查看</a>&nbsp;&nbsp;&nbsp;

<form id="login2" action="/boot/login">......</form>
<br/>
<form id="login" th:action="@{/boot/login?}" th:method="post">......</form>
<br/>
List:
<p th:each="myList : ${userList}">
    <span th:text="${myListStat.count}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${myList.nick}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${myList.phone}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${myList.email}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${myList.address}"></span>&nbsp;&nbsp;&nbsp;
</p>
<br/>
Map:
<p th:each="myMap : ${userMap}">
    <span th:text="${myMap.key}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${myMap.value.nick}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${myMap.value.phone}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${myMap.value.email}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${myMap.value.address}"></span>&nbsp;&nbsp;&nbsp;
</p>
<br/>
Array：
<p th:each="myArray : ${userArray}">
    <span th:text="${myArray.nick}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${myArray.phone}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${myArray.email}"></span>&nbsp;&nbsp;&nbsp;
    <span th:text="${myArray.address}"></span>&nbsp;&nbsp;&nbsp;
</p>

<span id="a">aaa</span>&nbsp;&nbsp;&nbsp;
<span th:id="${a}">aaa</span>
<br/>
<span th:if="${sex eq '1'}">男</span>
<span th:if="${sex eq '2'}">女</span>
<br/>
<span th:unless="${sex eq '1'}">男</span>
<span th:unless="${sex eq '2'}">女</span>
<br/>
<div th:switch="${sex}">
    <p th:case="1">性别：男</p>
    <p th:case="2">性别：女</p>
</div>

<script th:src="@{/js/jquery-2.4.min.js}">jquery</script>
<br/>
<img th:src="@{/image/img.jpg}"/>

<input type="text" id="nick" name="nick" th:text="${user.nick}"><br/><br/>
<input type="text" id="nick2" name="nick2" th:value="${user.nick}"><br/><br/>
<input type="text" id="nick1" name="nick1" value="yesha"><br/><br/>
<input type="text" id="nick3" name="nick3" th:attr="value=${user.nick}"><br/><br/>


<span data-ref="login">login</span>
<span th:attr="data-ref=${manage}" th:onclick="'clickMe()'">reloadLogin</span><br/>
<script>
    function clickMe() {
        alert("click");st
    }

</script>

<div th:style="'display:block;'"></div>
<br/>
内联文本：

<div th:inline="text">[[${user.nick}]]</div>
<br/>
内联脚本：

<script th:inline="javascript" type="text/javascript" charset="UTF-8">
    var user = [[${user.nick}]];
    alert(user);

</script>
<p>今年是<span th:text="2019">2018</span>年</p>
<p>10年后是<span th:text="2019 + 10">2018</span>年</p>

<p th:if="${isFlag == true}">执行过程.....</p>
<p th:if="${userList == null}">userList不为空</p>

<p><span th:text="'当前是第' + ${page }+ '页 ,共' + ${page} + '页'"></span></p>
<p><span th:text="|当前是第${page}页, 共${page}页|"></span></p>
<p th:text="${sex eq '1'} ? '男' : '女'">未知</p>
<p th:inline="text">
    [[${#request.getAttribute('userid')}]]
    [[${#session.getAttribute('uuid')}]]
</p>
<p><span th:text="${#dates.format(date, 'yyyy-MM-dd HH:mm:ss')}">2019-03-27 23:03:01</span></p>

</body>
</html>